@model IEnumerable<Homepage.Models.TAIKHOANKHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h3 class="text-center">TÀI KHOẢN KHÁCH HÀNG</h3>


<table class="table table-bordered table-hover"  style="margin-left:7%;margin-right:7%;width:80%">
    <tr>
        <th>
            TÊN ĐĂNG NHẬP
        </th>
        <th>
            ẢNH ĐẠI DIỆN
        </th>
        <th>
            TÊN LOẠI TÀI KHOẢN
        </th>
        <th>
            THÔNG TIN KHÁCH HÀNG
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TEN_DANGNHAP)
            </td>
            <td>
                <img src="@item.ANH_DAIDIEN" width="150" height="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAITAIKHOAN.TEN_LOAITK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_TTKH)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_KHACHHANG }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_KHACHHANG })
            </td>
        </tr>
    }

</table>
