<nav class="navbar navbar-expand-sm" style="background-color: rebeccapurple ; padding: 0;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="padding-left: 62px">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "uHome")">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Search", "uHome")">Tìm kiếm sản phẩm <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Danh Mục Sản Phẩm
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("TamLy", "uHome")">Tâm Lý</a>
                    <a class="dropdown-item" href="@Url.Action("LightNovel", "uHome")">Light Novel</a>
                    <a class="dropdown-item" href="@Url.Action("DamMy", "uHome")">Đam Mỹ</a>
                    <a class="dropdown-item" href="@Url.Action("NgonTinh", "uHome")">Ngôn Tình</a>
                    <a class="dropdown-item" href="@Url.Action("TieuThuyet", "uHome")">Tiểu Thuyết</a>
                    <a class="dropdown-item" href="@Url.Action("DanhNhan", "uHome")">Danh Nhân</a>
                    <a class="dropdown-item" href="@Url.Action("DoiSong", "uHome")">Đời Sống</a>
                    <a class="dropdown-item" href="@Url.Action("KhoaHoc", "uHome")">Khoa Học</a>
                    <a class="dropdown-item" href="@Url.Action("YHoc", "uHome")">Y Học</a>
                    <a class="dropdown-item" href="@Url.Action("DuLichVH", "uHome")">Du Lịch - Văn Hóa</a>
                    <a class="dropdown-item" href="@Url.Action("KinhDiTrinhTham", "uHome")">Kinh Dị - Trinh Thám</a>
                    <a class="dropdown-item" href="@Url.Action("LichSuDiaLy", "uHome")">Lịch Sử - Địa Lý</a>
                    <a class="dropdown-item" href="@Url.Action("KyNangSong", "uHome")">Kỹ Năng Sống</a>
                    <a class="dropdown-item" href="@Url.Action("TruyenNgan", "uHome")">Truyện Ngắn</a>
                    <a class="dropdown-item" href="@Url.Action("VanHocTrongNuoc", "uHome")">Văn Học Trong Nước</a>
                    <a class="dropdown-item" href="@Url.Action("VanHocNuocNgoai", "uHome")">Văn Học Nước Ngoài</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="sign-item">
        <div>
            <span>
                <a href="/ShoppingCart/ShowCart">
                    <i class='fa fa-shopping-cart' style='font-size: 37px;color: white;margin-top: 10px;padding: 0px;margin-left: 3px;'></i>
                </a>
            </span>
            @Html.Action("BagCart", "ShoppingCart")
        </div>
        <div>
            @if (Session["TEN_DANGNHAP"] == null)
            {
                <a href="/UserLogin/Index" style="text-decoration: none; color: white;"><i class='fas fa-user-circle' style='font-size: 24px; color: white; padding: 0px;margin-left: 3px;position: relative;margin-top: 8px;'></i><p style="margin-bottom: 0px;font-size: 12px;">Login</p></a>
            }
            else
            {
                <a href="" target="_blank" style="text-decoration: none; color: white;"><i class='fas fa-user-circle' style='font-size: 24px; color: white; padding: 0px;margin-left: 3px;position: relative;margin-top: 8px;'></i><p style="margin-bottom: 0px;font-size: 12px;">@Session["TEN_DANGNHAP"]</p></a>
            }

        </div>

    </div>
</nav>

