@model IEnumerable<Homepage.Models.SACH>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<style>
    .createBtn {
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        margin-left:20px;
        background-color: #0032A0;
        color:white;
        border-style: none;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản lý sách</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create","Books", htmlAttributes: new { @class = "createBtn" })
    </p>
        <table class="table">
            <tr>
                <th>
                    Mã sách
                </th>
                <th>
                    Tên sách
                </th>
                <th>
                    Loại bìa
                </th>
                <th>
                    Ngày xuất bản
                </th>
                <th>
                    Số lượng tồn
                </th>
                <th>
                    Số trang
                </th>
                <th>
                    Kích thước
                </th>
                <th>
                    Nhà xuất bản

                </th>
                <th>
                    Tác giả
                </th>
                <th>
                    Nhà cung cấp
                </th>
                <th>
                    Thể loại
                </th>
                <th>
                    Khối lượng
                </th>
                <th>
                    Giá bìa
                </th>
                <th>
                    Giá bán
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_SACH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TEN_SACH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LOAI_BIA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAY_XUATBAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SOLUONG_TON)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SO_TRANG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KICH_THUOC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NHAXUATBAN.TEN_NHAXUATBAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TACGIA.TEN_TACGIA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NHACUNGCAP.TEN_NHACUNGCAP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.THELOAI.TEN_THELOAI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KHOILUONG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fomatGiaBia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fomatGiaBan)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_SACH }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_SACH }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_SACH })
                    </td>
                </tr>
                <tr>
                    @foreach (var image in item.ANHBIAs)
                    {
                        <td>
                            <img src="@Url.Content(image.ANH)" width="100" height="100" />
                        </td>
                    }
                </tr>
            }

        </table>
    </body>
</html>
