@model Homepage.Models.SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Book.cshtml";
}
<style>
    .container .block, 
    .container .block-book {
        padding-top: 70px;
    }
</style>
<div>
    <div class="container">
        <div class="product-view-contener">
            <div class="showleft">
                <div class="product-info">
                    <h1>@Html.DisplayFor(model => model.TEN_SACH)</h1>
                    <div class="groups">
                        <div class="viewfield">
                            <span><b>Tác giả: </b>@Html.DisplayFor(model => model.TACGIA.TEN_TACGIA)</span>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <span><b>Phát hành: </b>@Html.DisplayFor(model => model.NHAXUATBAN.TEN_NHAXUATBAN)</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="prices-contener">
                        <div class="prices">
                            <div class="saleprices">
                                <span><b style="font-size:30px">@Html.DisplayFor(model => model.GIA_BAN)</b> VND</span>
                            </div>

                        </div>
                        <div class="buy-button">
                            <a href="/ShoppingCart/AddToCart/@Html.DisplayFor(model=>model.ID_SACH)" class="buy-link">Thêm vào giỏ hàng</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="img-contener">
                <div class="mainimage">
                    @foreach (var anh in Model.ANHBIAs)
                    {
                        <img src="@Url.Content(anh.ANH)" width="200" height="270" />
                        break;
                    }
                </div>
            </div>
            <input type="hidden" name="formatid" id="formatid" value="">
            <input type="hidden" name="sizeid" id="sizeid" value="">
            <input type="hidden" name="colorid" id="colorid" value="">
        </div>
        <div class="block">
            <h3>Giới thiệu sách</h3>
            <div class="block-name"><p style="color: red; ">@Html.DisplayFor(model => model.TEN_SACH)</p></div>
            <div class="block-detail">@Html.DisplayFor(model => model.MOTA)</div>
        </div>
        <div class="block" style="padding-top:20px">
            <h3>Thông tin chi tiết</h3>
            <table clascellpadding="0" cellspacing="0">
                <tr>
                    <td class="title">Tác giả</td>
                    <td>@Html.DisplayFor(model => model.TACGIA.TEN_TACGIA)</td>
                </tr>
                <tr>
                    <td class="title">Ngày xuất bản</td>
                    <td>@Html.DisplayFor(model => model.NGAY_XUATBAN)</td>
                </tr>
                <tr>
                    <td class="title">Kích thước</td>
                    <td>@Html.DisplayFor(model => model.KICH_THUOC)</td>
                </tr>
                <tr>
                    <td class="title">Khối lượng</td>
                    <td>@Html.DisplayFor(model => model.KHOILUONG)</td>
                </tr>
                <tr>
                    <td class="title">Nhà cung cấp</td>
                    <td>@Html.DisplayFor(model => model.NHACUNGCAP.TEN_NHACUNGCAP)</td>
                </tr>
                <tr>
                    <td class="title">Thể loại</td>
                    <td>@Html.DisplayFor(model => model.THELOAI.TEN_THELOAI)</td>
                </tr>
                <tr>
                    <td class="title">Số trang</td>
                    <td>@Html.DisplayFor(model => model.SO_TRANG)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

