@model IEnumerable<Homepage.Models.DONHANG>

@{
    ViewBag.Title = "DanhSachDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2 class="text-center">Danh sách đơn hàng</h2>
<style>
    .createBtn {
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        margin-left: 20px;
        background-color: #0032A0;
        color: white;
        border-style: none;
    }

        .createBtn:hover {
            text-decoration: none;
            background-color: aqua;
            color: black;
        }

    .actionBtn {
        padding: 2px 5px 2px 5px;
        margin-right: 2px;
        border-radius: 5px;
        background-color: #0032A0;
        color: white;
    }

        .actionBtn :hover {
            text-decoration: none;
            background-color: aqua;
            color: black;
        }
</style>
<p>
    @Html.ActionLink("Tạo đơn hàng mới", "Create", "Order", htmlAttributes: new { @class = "createBtn" })
</p>
<br />
@{Html.RenderAction("SearchBar", "Order"); }
<hr />
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            <b>Trạng thái đơn hàng cũ</b>
        </th>
        <th>
            Thời gian đặt
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            <b>Trạng thái đơn hàng mới</b>
        </th>
        <th>
            Thao tác
        </th>
    </tr>
    @{
        var detail = new Homepage.Models.DONHANG();
        if (Session["Details"] != null)
        {
            detail = Session["Details"] as Homepage.Models.DONHANG;
        }

    }
    @foreach (var item in Model)
    {

        <tr>
            @Html.Partial("UpdateState", item)
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID_DONHANG }, htmlAttributes: new { @class = "actionBtn" })
                @Html.ActionLink("Chi tiết", "More", new { id = item.ID_DONHANG }, htmlAttributes: new { @class = "actionBtn" })
            </td>
        </tr>
        if (Session["Details"] != null && detail != null && item.ID_DONHANG == detail.ID_DONHANG)
        {
            <tr class="p-3 mb-2 bg-warning text-dark">
                <th>Chi tiết đơn</th>
                <th>Tên sách</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
            </tr>

            foreach (var prd in detail.CHITIETDONHANGs)
            {
                <tr class="p-3 mb-2 bg-light text-dark">
                    <td></td>
                    <td>@prd.SACH.TEN_SACH</td>
                    <td>@prd.SOLUONG</td>
                    <td>@prd.TONGTIEN</td>
                </tr>
            }
        }
    }

</table>
