@model IEnumerable<Homepage.Models.DONHANG>

@{
    ViewBag.Title = "DanhSachDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DanhSachDonHang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_DONHANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_TTKH)
        </th>
        <th>
            <b>Trạng thái đơn hàng cũ</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THOIGIAN_DAT)
        </th>
        <th>
            <b>Trạng thái đơn hàng mới</b>
        </th>

    </tr>
    @{
        var detail = new Homepage.Models.DONHANG();
        if (Session["Details"] != null)
        {
            detail = Session["Details"] as Homepage.Models.DONHANG;
        }

    }
    @foreach (var item in Model)
    {
        
<tr>
    @Html.Partial("UpdateState", item)
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("More", "More", new { id = item.ID_DONHANG })
    </td>
</tr>
        if (Session["Details"]!= null && item.ID_DONHANG == detail.ID_DONHANG)
        {
            <tr style="background-color:aquamarine">
                <th>Mã chi tiết</th>
                <th>Mã sách</th>
                <th>Tên sách</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
            </tr>
            <tr style="background-color:aquamarine">
                @foreach (var prd in detail.CHITIETDONHANGs)
                {
                    <td>@prd.ID_CTDH</td>
                    <td>@prd.ID_SACH</td>
                    <td>@prd.SACH.TEN_SACH</td>
                    <td>@prd.SOLUONG</td>
                    <td>@prd.TONGTIEN</td>
                }
            </tr>
        }
    }

</table>
