@model Homepage.Models.TAIKHOANQUANTRIVIEN

@{ Layout = null; }
<style>
    .adminLogin .mainForm {
        margin-left: 40%;
        font-family: Arial, Helvetica, sans-serif;
        border-style: solid;
        border-color: aqua;
        border-width: 2px;
        box-shadow: 15px 10px aqua;
        width: 200px;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
    }

        .adminLogin .mainForm .title {
            font-size: large;
            text-align: center;
            font-weight: 500;
        }

        .adminLogin .mainForm .editorBox {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border: 3px solid aqua;
            color: aqua;
            background: transparent;
            border-radius: 15px;
            padding: 10px 5px 5px 10px;
            margin-top: 10px;
        }

            .adminLogin .mainForm .editorBox:focus {
                outline: none
            }

            .adminLogin .mainForm .editorBox:hover {
                outline: none;
                border-color: yellow;
            }

        .adminLogin .mainForm .label {
            font-size: medium;
        }

        .adminLogin .mainForm .button {
            margin-top: 10px;
            background-color: aqua;
            border-color: aqua;
            border-radius: 10px;
            padding: 5px 10px 5px 10px;
        }

            .adminLogin .mainForm .button:hover {
                background-color: yellow
            }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="adminLogin">
    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-horizontal mainForm">
                    <p class="title">Đăng nhập quản trị viên</p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("TÊN ĐĂNG NHẬP", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TEN_DANGNHAP, new { htmlAttributes = new { @class = "editorBox" } })
                            @Html.ValidationMessageFor(model => model.TEN_DANGNHAP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("MẬT KHẨU",  new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MATKHAU, new { htmlAttributes = new { @class = "editorBox" } })
                            @Html.ValidationMessageFor(model => model.MATKHAU, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đăng nhập" class="button" />
                        </div>
                    </div>
                </div>}
</body>
</html>
