@model IEnumerable<Homepage.Models.DONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            MÃ ĐƠN HÀNG
        </th>
        <th>
            THÔNG TIN KHÁCH HÀNG
        </th>
        <th>
            MÃ TRẠNG THÁI
        </th>
        <th>
            THỜI GIAN ĐẶT
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DONHANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TTKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TRANGTHAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THOIGIAN_DAT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        </td>
    </tr>
}

</table>
