@model IEnumerable<Homepage.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .createBtn {
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        margin-left: 20px;
        background-color: #0032A0;
        color: white;
        border-style: none;
    }

        .createBtn:hover {
            text-decoration: none;
            background-color: aqua;
            color: black;
        }

    .actionBtn {
        padding: 2px 5px 2px 5px;
        margin-right: 2px;
        border-radius: 5px;
        background-color: #0032A0;
        color: white;
    }

        .actionBtn :hover {
            text-decoration: none;
            background-color: aqua;
            color: black;
        }
</style>
<h2>Quản lý đơn hàng</h2>

<table class="table">
    <tr>
        <th>
            <b>Mã hóa đơn</b>
        </th>
        <th>
            <b>Mã khách hàng</b>
        </th>
        <th>
            <b>Trạng thái</b>
        </th>
        <th>
            <b>Tổng tiền</b>
        </th>
        <th>
            <b>Mã đơn hàng</b>
        </th>
        <th>
            <b>Trạng thái mới</b>
        </th>
        @{
            var detail = new Homepage.Models.HOADON();
            if (Session["Details"] != null)
            {
                detail = Session["Details"] as Homepage.Models.HOADON;
            }

        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("UpdateState", item)
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_HOADON }, htmlAttributes: new { @class = "actionBtn" })
                @Html.ActionLink("More", "More", new { id = item.ID_HOADON }, htmlAttributes: new { @class = "actionBtn" })
            </td>

        </tr>
        if (Session["Details"] != null && detail != null && item.ID_HOADON == detail.ID_HOADON)
        {
            <tr class="p-3 mb-2 bg-warning text-dark">
                <th>Mã sách</th>
                <th>Tên sách</th>
                <th>Giá bán</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
            </tr>

            foreach (var prd in detail.CHITIETHOADONs)
            {
                <tr class="p-3 mb-2 bg-light text-dark">
                    <td>@prd.ID_SACH</td>
                    <td>@prd.SACH.TEN_SACH</td>
                    <td>@prd.GIA_BAN</td>
                    <td>@prd.SOLUONG</td>
                    <td>@prd.TONGTIEN</td>
                    
                </tr>
            }
        }
    }

    </table>
