@model IEnumerable<Homepage.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý đơn hàng</h2>

<table class="table">
    <tr>
        <th>
            <b>Mã hóa đơn</b>
        </th>
        <th>
            <b>Mã khách hàng</b>
        </th>
        <th>
            <b>Trạng thái</b>
        </th>
        <th>
            <b>Tổng tiền</b>
        </th>
        <th>
            <b>Mã đơn hàng</b>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_HOADON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TTKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TRANGTHAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TONGTIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DONHANG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_HOADON }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_HOADON })
        </td>
    </tr>
}

</table>
