@model Homepage.Models.THONGTINKHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Book.cshtml";
}

<h3 class="text-center">CHI TIẾT</h3>

<div>
    <h4>THÔNG TIN KHÁCH HÀNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            THÔNG TIN KHÁCH HÀNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TTKH)
        </dd>
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_KHACHHANG)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_KHACHHANG)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_DIENTHOAI)
        </dd>

        <dt>
            TỔNG TIÊU DÙNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONG_TIEUDUNG)
        </dd>
        <a href=@Url.Action("Edit","CustomerInfo") class="btn btn-success"></a>
    </dl>
</div>

