@model Homepage.Models.THONGTINKHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Book.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THONGTINKHACHHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_TTKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TTKH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TEN_KHACHHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_KHACHHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_KHACHHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_KHACHHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SO_DIENTHOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_DIENTHOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONG_TIEUDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONG_TIEUDUNG)
        </dd>

    </dl>
</div>

