@model Homepage.Models.THONGTINKHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h3 class="text-center">CHI TIẾT THÔNG TIN KHÁCH HÀNG</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            THÔNG TIN KHÁCH HÀNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TTKH)
        </dd>
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_KHACHHANG)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_KHACHHANG)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_DIENTHOAI)
        </dd>

        <dt>
            TỔNG TIÊU DÙNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONG_TIEUDUNG)
        </dd>
        <dt>
            THAO TÁC
        </dt>

        <dd>
            <a href=@Url.Action("Edit","CustomerInfo",new { id = Model.ID_TTKH }) class="btn btn-success">Sửa</a>
            <a href=@Url.Action("Index","CustomerInfo") class="btn btn-default">Trở về</a>
        </dd>
        
    </dl>
</div>

