@model IEnumerable<Homepage.Models.ANHBIA>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h2>Thêm ảnh</h2>

    <script src="~/Content/Scripts/AddImage.js"></script>
</head>

<body>
    <style>
    .createBtn {
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        margin-left: 20px;
        background-color: #0032A0;
        color: white;
        border-style: none;
    }

        .createBtn:hover {
            text-decoration: none;
            background-color: aqua;
            color: black;
        }

    .actionBtn {
        padding: 2px 5px 2px 5px;
        margin-right: 2px;
        border-radius: 5px;
        background-color: #0032A0;
        color: white;
    }

        .actionBtn :hover {
            text-decoration: none;
            background-color: aqua;
            color: black;
        }
</style>
    <p>

        @Html.ActionLink("Thêm ảnh", "UploadImages", new { controller = "BookImage", action = "Index", id = ViewBag.Id},htmlAttributes: new { @class= "createBtn"})
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_ANH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_SACH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ANH)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_ANH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_SACH)
            </td>
            <td>
                <img src="@Url.Content(item.ANH)" width="100" height="100" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_ANH }, htmlAttributes: new { @class= "actionBtn"})
                @Html.ActionLink("Delete", "Delete", new { id=item.ID_ANH }, htmlAttributes: new { @class = "actionBtn" })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
