@model IEnumerable<Homepage.Models.ANHBIA>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h2>Thêm ảnh</h2>

    <script src="~/Content/Scripts/AddImage.js"></script>
</head>
<body>
    <p>

        @Html.ActionLink("Thêm ảnh", "UploadImages", new { controller = "BookImage", action = "Index", id = ViewBag.Id })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_ANH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_SACH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ANH)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_ANH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_SACH)
            </td>
            <td>
                <img src="@Url.Content(item.ANH)" width="100" height="100" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_ANH })
                @Html.ActionLink("Delete", "Delete", new { id=item.ID_ANH })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
