@model IEnumerable<Homepage.Models.LOAITAIKHOAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LOẠI TÀI KHOẢN</h2>

<p>
    @Html.ActionLink("Thêm loại tài khoản", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã loại
        </th>
        <th>
            Tên loại
        </th>
        <th>
            Mức đạt được
        </th>
        <th>
            Thao tác
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_LOAITK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_LOAITK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MUC_DATDUOC)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Chi tiết", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Xóa", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
