@model Homepage.Models.TAIKHOANKHACHHANG

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Book.cshtml";
}

@using (Html.BeginForm("LoginAccount", "UserLogin"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        <h4>TAI KHOAN</h4>
        <table align="center" style="font-size: 16px;">
            

                <tr style="height: 40px">
                    <td>Username</td>
                    <td>
                        @Html.TextBox("TEN_DANGNHAP")
                        
                    </td>
                </tr>
                <tr style="height: 40px">
                    <td>Password</td>
                    <td>
                        @Html.Password("MATKHAU")
                        
                    </td>
                </tr>
                <tr style="height: 40px">
                    <td></td>
                    <td>
                        <input type="submit" value="Log in" />
                    </td>
                </tr>
        </table>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-success" />
                <a href="@Url.Action("RegisterUser", "UserLogin")" class="btn btn-success">Register</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

            </div>
        </div>
    </div>
}

