@model Homepage.Models.TAIKHOANKHACHHANG

@{
    ViewBag.Title = "Đăng Kí";
    Layout = "~/Views/Shared/_Book.cshtml";
}
<style>
    .field-validation-error.text-danger {
        color: red !important;
        margin-left: 125px;
    }
    .field-validation-error {
        color: red;
        margin-left: 195px;
    }
</style>
<h2>Đăng Kí Tài Khoản</h2>
<hr />
@using (Html.BeginForm("RegisterUser", "UserLogin"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="display: flex;justify-content:space-between">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div style="width: 46%; border-right: 1px dashed">
            @using (Html.BeginForm("RegisterUser", "UserLogin", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="col-md-10" style="display: flex">
                        <p class="control-label" style="width: 175px;">Tên khách hàng</p>
                        <input name="TEN_KHACHHANG" class="form-control" />
                    </div>
                    <div class="col-md-10">
                        @Html.ValidationMessage("TEN_KHACHHANG", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10" style="display: flex">
                        <p class="control-label" style="width: 175px;">Email</p>
                        <input name="EMAIL_KHACHHANG" class="form-control" />
                    </div>
                    <div class="col-md-10" id="validate-error">
                        @Html.ValidationMessage("EMAIL_KHACHHANG", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10" style="display: flex">
                        <p class="control-label" style="width: 175px;">Số điện thoại</p>
                        <input name="SO_DIENTHOAI" class="form-control" />
                    </div>
                    <div class="col-md-10" id="validate-error">
                        @Html.ValidationMessage("SO_DIENTHOAI", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10" style="display: flex">
                        <p class="control-label" style="width: 175px;">Địa chỉ</p>
                        <textarea name="DIACHI" class="form-control" style="height: 110px; resize: none;"></textarea>
                    </div>
                    <div class="col-md-10" id="validate-error">
                        @Html.ValidationMessage("DIACHI", "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
        <div style="width: 50%">
            <div class="form-group">
                <div class="col-md-9" style="display: flex">
                    @Html.Label("Tên Đăng Nhập", new { @class = "control-label col-md-6" })
                    @Html.EditorFor(model => model.TEN_DANGNHAP, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.TEN_DANGNHAP, "")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9" style="display: flex">
                    @Html.Label("Mật Khẩu", new { @class = "control-label col-md-6" })
                    @Html.PasswordFor(model => model.MATKHAU, new { @class = "form-control" })
                </div>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.MATKHAU, "")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9" style="display: flex">
                    @Html.Label("Xác Nhận Mật Khẩu", new { @class = "control-label col-md-6" })
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="col-md-10" id="validate-error">
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "")
                </div>
            </div>

            <div class="form-group" style="justify-content: center;display: flex;width: 335px;padding-top: 20px;">
                <div class="col-md-3">
                    <input type="submit" value="Create" class="btn btn-success" style="width: 335px;" />
                </div>
            </div>
            <div class="form-group" style="display: flex;padding-left: 140px;">
                <div class="col-md-offset-3" style="padding-right: 5px">
                    Đã có tài khoản?
                </div>
                 <div class="col-md-offset-3">
                     <a href="@Url.Action("Index", "UserLogin")" style="font-size: 16px">Đăng Nhập</a>
                 </div>
            </div>
    </div>
        </div>
}

