@model IEnumerable<Homepage.Models.TACGIA>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <br />
    <h3 class="text-center">Tác Giả</h3>
    <p class="btn btn-default" style="margin-left:7%">
        @Html.ActionLink("Thêm mới", "Create")
    </p>
    <table class="table table-bordered table-hover" style="margin-left: 7%; margin-right:7%">
        <tr>
            <th>
                MÃ TÁC GIẢ
            </th>
            <th>
                TÊN TÁC GIẢ
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_TACGIA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEN_TACGIA)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID_TACGIA }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ID_TACGIA })
                </td>
            </tr>
        }

    </table>
</body>
</html>
