@model Homepage.Models.TRANGTHAIDONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Chi tiết trạng thái</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            MÃ TRẠNG THÁI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TRANGTHAI)
        </dd>

        <dt>
            TÊN TRẠNG THÁI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_TRANGTHAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<style>
    .backBtn {
        margin-top: 10px;
        background-color: gainsboro;
        color: darkslateblue;
        margin-left: 20px;
        padding: 10px 20px 10px 20px;
    }

        .backBtn:hover {
            background-color: darkslateblue;
            color: white;
            text-decoration: none;
        }
</style>
<div>
    @Html.ActionLink("Trở về trang chủ", "DanhSachTrangThai", "OrderState", htmlAttributes: new { @class = "backBtn" })
</div>

