@model IEnumerable<Homepage.Models.NHACUNGCAP>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h3 class="text-center"> Nhà Cung Cấp</h3>
</head>
<body>
    <p>
        @Html.ActionLink("Thêm mới", "Create")
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                MÃ NHÀ CUNG CẤP
            </th>
            <th>
                TÊN NHÀ CUNG CẤP
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_NCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEN_NHACUNGCAP)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_NCC }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_NCC }) |
                </td>
            </tr>
        }

    </table>
</body>
</html>
